In [1]:
import pandas as pd
# Load Data and convert it from json to csv
dataframe = pd.read_json('C:/Users/Hilel/Desktop/Data_Science/amazon healthcare products/Health_and_Personal_Care_5.json', lines = True)
dataframe.to_csv('Health_and_Personal_Care_5.csv', sep=',', index=False)

In [2]:
df = pd.read_csv('Health_and_Personal_Care_5.csv')
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,159985130X,"[1, 1]",5,This is a great little gadget to have around. ...,"01 5, 2011",ALC5GH8CAMAI7,AnnN,Handy little gadget,1294185600
1,159985130X,"[1, 1]",4,I would recommend this for a travel magnifier ...,"02 18, 2012",AHKSURW85PJUE,"AZ buyer ""AZ buyer""",Small & may need to encourage battery,1329523200
2,159985130X,"[75, 77]",4,What I liked was the quality of the lens and t...,"06 8, 2010",A38RMU1Y5TDP9,"Bob Tobias ""Robert Tobias""",Very good but not great,1275955200
3,159985130X,"[56, 60]",4,Love the Great point light pocket magnifier! ...,"02 8, 2008",A1XZUG7DFXXOS4,Cat lover,great addition to your purse,1202428800
4,159985130X,"[1, 1]",5,This is very nice. You pull out on the magnifi...,"08 16, 2011",A1MS3M7M7AM13X,Cricketoes,Very nice and convenient.,1313452800

In [4]:
# Check columns types and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346355 entries, 0 to 346354
Data columns (total 9 columns):
asin              346355 non-null object
helpful           346355 non-null object
overall           346355 non-null int64
reviewText        346307 non-null object
reviewTime        346355 non-null object
reviewerID        346355 non-null object
reviewerName      343269 non-null object
summary           346354 non-null object
unixReviewTime    346355 non-null int64
dtypes: int64(2), object(7)
memory usage: 23.8+ MB

In [12]:
count = df.groupby('asin').count()

df2 = pd.merge(df, count, how='right', on=['asin'])
df2.head()

,asin,helpful_x,overall_x,reviewText_x,reviewTime_x,reviewerID_x,reviewerName_x,summary_x,unixReviewTime_x,helpful_y,overall_y,reviewText_y,reviewTime_y,reviewerID_y,reviewerName_y,summary_y,unixReviewTime_y
0,159985130X,"[1, 1]",5,This is a great little gadget to have around. ...,"01 5, 2011",ALC5GH8CAMAI7,AnnN,Handy little gadget,1294185600,20,20,20,20,20,20,20,20
1,159985130X,"[1, 1]",4,I would recommend this for a travel magnifier ...,"02 18, 2012",AHKSURW85PJUE,"AZ buyer ""AZ buyer""",Small & may need to encourage battery,1329523200,20,20,20,20,20,20,20,20
2,159985130X,"[75, 77]",4,What I liked was the quality of the lens and t...,"06 8, 2010",A38RMU1Y5TDP9,"Bob Tobias ""Robert Tobias""",Very good but not great,1275955200,20,20,20,20,20,20,20,20
3,159985130X,"[56, 60]",4,Love the Great point light pocket magnifier! ...,"02 8, 2008",A1XZUG7DFXXOS4,Cat lover,great addition to your purse,1202428800,20,20,20,20,20,20,20,20
4,159985130X,"[1, 1]",5,This is very nice. You pull out on the magnifi...,"08 16, 2011",A1MS3M7M7AM13X,Cricketoes,Very nice and convenient.,1313452800,20,20,20,20,20,20,20,20

In [14]:
#rename column
df2["totalReviewers"] = df2["reviewerID_y"]
df2["overallScore"] = df2["overall_x"]
df2["summaryReview"] = df2["summary_x"]

df2_smp = df2[['asin','summaryReview','overallScore',"totalReviewers"]]
df2_smp.head()

,asin,summaryReview,overallScore,totalReviewers
0,159985130X,Handy little gadget,5,20
1,159985130X,Small & may need to encourage battery,4,20
2,159985130X,Very good but not great,4,20
3,159985130X,great addition to your purse,4,20
4,159985130X,Very nice and convenient.,5,20

In [10]:
m = df2['totalReviewers'].quantile(0.80)
m

90.0

In [15]:
df2 = df2[df2.totalReviewers > m]
df2.head()

,asin,helpful_x,overall_x,reviewText_x,reviewTime_x,reviewerID_x,reviewerName_x,summary_x,unixReviewTime_x,helpful_y,overall_y,reviewText_y,reviewTime_y,reviewerID_y,reviewerName_y,summary_y,unixReviewTime_y,overallScore,summaryReview,totalReviewers
382,B00003IEME,"[0, 0]",5,I purchased this for my weather station. It h...,"01 10, 2013",A1ODOGXEYECQQ8,NaN,Low temperature weather batteries,1357776000,165,165,165,165,165,162,165,165,5,Low temperature weather batteries,165
383,B00003IEME,"[0, 0]",5,I use these in my external flash for my SLR. T...,"01 14, 2014",A3I3OSZR5GDGV3,NaN,Great for my flash,1389657600,165,165,165,165,165,162,165,165,5,Great for my flash,165
384,B00003IEME,"[0, 1]",5,I used these when I went on a month long safar...,"12 7, 2013",A2VS78QUR9DRD8,NaN,Excellent,1386374400,165,165,165,165,165,162,165,165,5,Excellent,165
385,B00003IEME,"[0, 0]",5,"What can I say, look at the amp hour rating an...","10 29, 2013",AZ4NQZDKX5O8J,"2cents ""2cents""",Great batteries,1383004800,165,165,165,165,165,162,165,165,5,Great batteries,165
386,B00003IEME,"[0, 0]",5,The flat discharge curve of lithiums means the...,"06 7, 2013",A26YHXZD5UFPVQ,2K1Toaster,Last longer in electronics,1370563200,165,165,165,165,165,162,165,165,5,Last longer in electronics,165

In [17]:
df3 = df.groupby('asin').mean()
df3.head()

             overall  unixReviewTime  totalReviewers
asin
159985130X  4.500000    1.303633e+09            20.0
1933622865  3.636364    1.371545e+09            11.0
1935009656  4.428571    1.345989e+09             7.0
3812028492  4.333333    1.368538e+09             9.0
7884890364  4.575758    1.370898e+09            33.0

In [31]:
ProductReviewSummary = df2.groupby("asin")["summaryReview"].apply(list)
ProductReviewSummary = pd.DataFrame(ProductReviewSummary)
ProductReviewSummary = ProductReviewSummary.reset_index()
ProductReviewSummary.head()

         asin                                      summaryReview
0  B00003IEME  [Low temperature weather batteries, Great for ...
1  B00004OCLJ  [It's a bottle washer, Great brush!, BEST BRUS...
2  B000050FDY  [Razor cleaning refills, GOOD CLEANING SOLUTIO...
3  B000052XMR  [Big band aids, Covers a lickin' and keeps on ...
4  B000052YHR  [Easy to clean, only blades I'll use for my be...

In [23]:
df4 = pd.merge(ProductReviewSummary, df3, on=['asin'], how = 'inner')
df4.head()

,asin,summaryReview,overall,unixReviewTime,totalReviewers
0,B00003IEME,"[Low temperature weather batteries, Great for ...",4.648485,1.354887e+09,165.0
1,B00004OCLJ,"[It's a bottle washer, Great brush!, BEST BRUS...",4.637795,1.360910e+09,254.0
2,B000050FDY,"[Razor cleaning refills, GOOD CLEANING SOLUTIO...",4.557377,1.335477e+09,244.0
3,B000052XMR,"[Big band aids, Covers a lickin' and keeps on ...",4.367925,1.360439e+09,106.0
4,B000052YHR,"[Easy to clean, only blades I'll use for my be...",4.459259,1.352180e+09,135.0

In [35]:
df4['summaryReview'] = [','.join(map(str, l)) for l in df4['summaryReview']]

In [36]:
df4 = df4[['asin', 'summaryReview', 'overall', 'totalReviewers']]

In [37]:
#function for tokenizing summary

import re
regEx = re.compile('[^a-z]+')
def cleanReviews(reviewText):
    reviewText = reviewText.lower()
    reviewText = regEx.sub(' ', reviewText).strip()
    return reviewText

In [55]:
import string

df4["summaryReview"] = df4["summaryReview"].apply(cleanReviews)
df4 = df4.drop_duplicates(['overall'], keep='last')
df4 = df4.drop(['index'], axis=1)

In [56]:
df4.head()

,asin,summaryReview,overall,totalReviewers
0,B00003IEME,low temperature weather batteries great for my...,4.648485,165.0
1,B00004OCLJ,it s a bottle washer great brush best brush ev...,4.637795,254.0
2,B000050FDY,razor cleaning refills good cleaning solution ...,4.557377,244.0
3,B000052XMR,big band aids covers a lickin and keeps on sti...,4.367925,106.0
4,B0000536Y7,great for exfoliation great at exfoliating but...,4.641667,120.0

In [57]:
df4.shape

(437, 4)

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
df4['summaryReview'] = df4['summaryReview'].fillna('')
tfidf_matrix = tfidf.fit_transform(df4['summaryReview'])
tfidf_matrix.shape

(437, 11552)

In [59]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [60]:
indices = pd.Series(df4.index, index=df4['asin']).drop_duplicates()

In [67]:
df4.to_csv('df4.csv', index = False)

In [63]:
 #Function that takes in product id as input and gives recommendations 
def content_recommender(asin, cosine_sim=cosine_sim, df=df4, indices=indices):
    # Obtain the index of the product that matches the asin
    idx = indices[asin]

    # Get the pairwsie similarity scores of all products with that product
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the products based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar products. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the product indices
    product_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar products
    return df['asin'].iloc[product_indices]

In [65]:
content_recommender('B000050FDY')

276    B003YJAZZ4
160    B001DNE3KQ
322    B005DKKBRY
146    B0018A32XS
222    B002N5MHLU
151    B001AMRQ2W
267    B003V360NY
153    B001BJHCVO
342    B006GQYSGE
343    B006GQYSGO
Name: asin, dtype: object